    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Bienvenue sur Event</h1>
          <p>Ici, c'est l'endroit parfait pour participer à des événements ou organiser le votre.</p>
          <p><a class="btn btn-primary btn-lg" href="<%= new_event_path %>" role="button">Créer un événement</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
      <% @events.each do |event| %>
          <div class="col-md-4">
            <h2><%= event.title %></h2>
            <p><%= event.description %></p>
            <p>Prévu le : <%= event.start_date.strftime("%d/%m/%Y") %></p>
            <p><a class="btn btn-secondary" href="<%= event_path(event.id) %>" role="button">Voir l'événement &raquo;</a></p>
          </div>
      <% end %>
        </div>
      </div>

    </main>