<h1>Mon espace événement</h1>


<h2 class="text-center my-3">Voici la liste des invités :</h2>
<div class="row row-cols-5 row-cols-md-3  p-md-0 m-md-0 d-flex justify-content-center">
    <% @event.users.each do |user| %>
        <div class="card border-dark text-center bg-light my-3 mx-3" style="max-width: 18rem;">
            <div class="card-body">
                <p class="card-text"><%= user.first_name %> <%= user.last_name %></p>
                <p class="card-text"><%= user.email %></p>
            </div>
        </div> 
    <% end %>
</div>
<p><a href="<%= edit_event_path(@event) %>" class="btn btn-primary">Editer l'événement</a></p>
<p><a href="<%= event_path(@event) %>" class="btn btn-warning" data-confirm="Es-tu certain de vouloir supprimer cet événement ?" data-method="delete">Supprimer</a></p>